# Wildcards
*.1
*.8
*.a
*.ao
*.d
*.dSYM
*.db
*.dll
*.dylib
*.exp
*.lib
*.lnk
*.ncb
*.o
*.obj
*.opendb
*.opendf
*.opensdf
*.opt
*.out
*.pc
*.pdb
*.plg
*.pyc
*.s
*.sdf
*.so
*.suo
*.tgz
*.user
*.vcproj.*.*.user
*.vcxproj.user
*_debug
*_release
bazel-*
cygicudata*
libicu*
libicutest*
libsicu*
libsicutest*
output-*.cpp
perf-*.xml
test-*.xml

# Directories
.idea/
.vs/
.vscode/
ARM/
ARM64/
Debug/
Generated[!!-~]Files/
Release/
__pycache__/
_site/
arm/
arm64/
bin/
debug/
doc/
lib/
!tools/cldr/lib
out/
release/
target/
!docs/processes/release/
tmp/
x64/
x86/

# Files
Makefile
Makefile.local
build-local.properties
icupkg.inc
ipch
pkgdata.inc
pkgdataMakefile
rules.mk
.DS_Store

!samples/csdet/Makefile

# Directory specific wildcards
extra/uconv/resources/*.res
perf-*.xml
samples/udata/*.dat
samples/ufortune/resources/*.dat
samples/ufortune/resources/*.res
samples/uresb/*.res
test-*.xml
test/hdrtst/ht_*
test/perf/howExpensiveIs/*.xml
tools/genrb/derb_*
tools/genren/urename.*

tools/icuinfo/icuplugins*.txt
!tools/icuinfo/icuplugins_windows_sample.txt

# Specific file names
Doxyfile
README
autom4te.cache
common/common.res
common/icucfg.h
common/svchook.mk
config.cache
config.log
config.status
config/Makefile.inc
config/icu-config
config/icu.pc
config/icucross.inc
config/icucross.mk
config/icuinfo.xml
configure-local.mk
data/build-dir
data/build-local
data/data
data/obj
data/packagedata
data/uni-core-data
dist
extra/scrptrun/scrptrun.d
extra/scrptrun/scrptrun.o
extra/scrptrun/srtest
extra/scrptrun/srtest.d
extra/scrptrun/srtest.o
extra/scrptrun/srtest.exe
extra/uconv/pkgdatain.txt
extra/uconv/uconv
extra/uconv/uconv.plg
extra/uconv/uconvmsg
i18n/i18n.res
icudefs.local
icudefs.mk
io/io.res
layoutex/layoutex.res
samples/all/all.ncb
samples/all/all.suo
samples/break/break
samples/break/break.exe
samples/cal/icucal
samples/cal/icucal.exe
samples/case/case
samples/case/case.exe
samples/citer/citer
samples/citer/citer.exe
samples/csdet/csdet
samples/csdet/csdet.exe
samples/date/icudate
samples/date/icudate.exe
samples/datefmt/datefmt
samples/msgfmt/msgfmt
samples/numfmt/numfmt
samples/numfmt/numfmt.exe
samples/props/props
samples/props/props.exe
samples/translit/translit
samples/translit/translit.exe
samples/uciter8/uciter8
samples/uciter8/uciter8.exe
samples/ucnv/convsamp
samples/ucnv/data40.utf16
samples/udata/reader
samples/udata/reader.exe
samples/udata/writer
samples/udata/writer.exe
samples/ufortune/ufortune
samples/ufortune/ufortune.exe
samples/ugrep/ugrep
samples/ugrep/ugrep.exe
samples/uresb/uresb
samples/uresb/uresb.exe
samples/ustring/ustring
samples/ustring/ustring.exe
stubdata/stubdatabuilt.txt
test/cintltst/cintltst
test/cintltst/cintltst.exe
test/intltest/intltest
test/intltest/intltest.exe
test/iotest/iotest
test/iotest/iotest.exe
test/letest/letest
test/letest/letest.exe
test/perf/DateFmtPerf/DateFmtPerf
test/perf/DateFmtPerf/DateFmtPerf.d
test/perf/charperf/charperf
test/perf/collationperf/collperf
test/perf/collationperf/collperf.exe
test/perf/collperf/collperf
test/perf/collperf2/collperf2
test/perf/collperf2/collperf2.d
test/perf/howExpensiveIs/howExpensiveIs
test/perf/normperf/normperf
test/perf/perldriver/Common.pl
test/perf/ubrkperf/ubrkperf
test/perf/unisetperf/unisetperf
test/perf/usetperf/usetperf
test/perf/ustrperf/charperf
test/perf/ustrperf/stringperf
test/perf/utfperf/utfperf
test/perf/utrie2perf/utrie2perf
test/perf/utrie2perf/utrie2perf.d
test/testmap/testmap
test/testmap/testmap.plg
tools/genbrk/genbrk
tools/genbrk/genbrk.1
tools/genccode/genccode
tools/genccode/genccode.8
tools/gencfu/gencfu
tools/gencfu/gencfu.1
tools/gencfu/gencfu.exe
tools/gencmn/gencmn
tools/gencmn/gencmn.8
tools/gencmn/gencmn.[0-9]
tools/gencnval/gencnval
tools/gencnval/gencnval.1
tools/gencnval/gencnval.[0-9]
tools/gencolusb/extract_unsafe_backwards
tools/gencolusb/verify_uset
tools/gennorm2/gennorm2
tools/gennorm2/gennorm2.[0-9]
tools/genrb/derb
tools/genrb/derb.[0-9]
tools/genrb/genrb
tools/genrb/genrb.[0-9]
tools/genrb/temp
tools/genren/ICUunrenamed
tools/gensprep/gensprep
tools/gensprep/gensprep.[0-9]
tools/gensprep/gensprep.plg
tools/gentest/gentest
tools/gentest/gentest.exe
tools/icuinfo/icuinfo
tools/icuinfo/icuinfo.exe
tools/icupkg/icupkg
tools/icupkg/icupkg.[0-9]
tools/icuswap/icuswap
tools/icuswap/icuswap.[0-9]
tools/makeconv/makeconv
tools/makeconv/makeconv.[0-9]
tools/pkgdata/pkgdata
tools/pkgdata/pkgdata.[0-9]
uconfig.h.prepend

cmake-build-*/
